<div
  class="game-container mt-4"
  style="background-image: linear-gradient(to top, #cecece, #828080);padding-top: 10px"
  >
  <div class="row text-center" style="color:white">
    <div class="col-6">
      <div>
        <a (click)="backToWorldMap()" style="cursor:pointer">
          <img
            class="img-fluid"
            style="width:75px"
            src="assets/img/nav/nav_back.png"
          />
        </a>
      </div>
      <h3>Retour</h3>
    </div>
    <div class="col-6">
      <div>
        <a (click)="open()" style="cursor:pointer">
          <img
            class="img-fluid"
            style="width:75px"
            src="assets/img/nav/nav_help.png"
          />
        </a>
      </div>
      <h3>Tutoriel</h3>
    </div>
    <!-- <div class="col-4">
      <div>
        <img
          (click)="toggleMenu()"
          class="img-fluid"
          style="width:75px;cursor: pointer;"
          src="assets/img/nav/nav_news.png"
        />
      </div>
      <h3>Menu</h3>
    </div>
  </div> -->
</div>

