<form [formGroup]="passwordForm" (ngSubmit)="updateUserPassword()">
  <h4>Modification du mot de passe</h4>
  <div formGroupName="matching_passwords">
    <div class="form-group">
      <label for="password">Nouveau mot de passe :</label>
      <input class="form-control" type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && this.passwordForm.get('matching_passwords').get('password').errors }">
      <!-- <div *ngFor="let validation of account_validation_messages.password">
        <div class="error-message" *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) && (accountDetailsForm.get('matching_passwords').get('password').dirty || accountDetailsForm.get('matching_passwords').get('password').touched)">{{validation.message}}</div>
      </div> -->
      <div *ngIf="submitted && this.passwordForm.get('matching_passwords').get('password').errors" class="invalid-feedback">
        <div *ngIf="passwordForm.get('matching_passwords').get('password').hasError('required')">Le mot de passe est requis</div>
        <div *ngIf="passwordForm.get('matching_passwords').get('password').hasError('minlength')">Le mot de passe doit faire au moins 6 caracrtères</div>
    </div>
    </div>

    <div class="form-group">
        <label for="confirm_password">Confirmer le nouveau mot de passe :</label>
      <input
        class="form-control"
        type="password"
        placeholder="Confirmation du mot de passe"
        [ngClass]="{ 'is-invalid': submitted && (this.passwordForm.get('matching_passwords').get('confirm_password').errors || this.passwordForm.get('matching_passwords').errors) }"
        formControlName="confirm_password">
      <div *ngIf="submitted && (this.passwordForm.get('matching_passwords').get('confirm_password').errors || this.passwordForm.get('matching_passwords').errors)" class="invalid-feedback">
          <div *ngIf="submitted && passwordForm.get('matching_passwords').get('confirm_password').hasError('required')">Confirmer le mot de passe saisi</div>
          <div *ngIf="submitted && passwordForm.get('matching_passwords').hasError('areEqual') && !passwordForm.get('matching_passwords').get('confirm_password').hasError('required')">la confirmation n'est pas identique au mot de passe saisi</div>
      </div>
      <!-- <div *ngFor="let validation of account_validation_messages.confirm_password">
        <div class="error-message" *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matching_passwords').hasError(validation.type)) && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">{{validation.message}}</div>
      </div> -->
    </div>
</div>
  <button class="btn btn-primary" type="submit">Valider</button>
  <div class="alert alert-success mt-4" *ngIf="showMessage" >
    Mot de passe modifié avec succès
  </div>
</form>
